html, body, * {
  box-sizing: border-box;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.c3-tooltip-container > span {
  padding: 4px 8px;
  color: #FFFFFF;
  border-radius: 2px;
}
